.imagewid10 {
  width: 10%;
  height: auto;
}
.imagewid20 {
  width: 20%;
  height: auto;
}
.imagewid30 {
  width: 30%;
  height: auto;
}
.imagewid40 {
  width: 40%;
  height: auto;
}
.imagewid50 {
  width: 50%;
  height: auto;
}
.imagewid60 {
  width: 60%;
  height: auto;
}
.imagewid70 {
  width: 70%;
  height: auto;
}
.imagewid80 {
  width: 80%;
  height: auto;
}
.imagewid90 {
  width: 90%;
  height: auto;
}
.imagewid100 {
  width: 100%;
  height: auto;
}
